
@{
    ViewData["Title"] = "Change password";
}

<h1>@ViewData["Title"]</h1>

<div class="ajaxForm">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        @Html.ValidationSummary()

        using (Html.DevExtreme().ValidationGroup())
        {
            @(Html.DevExtreme().Form<ChangePasswordViewModel>()
                                .ShowValidationSummary(true)
                                .Items(formItems =>
                                {
                                    formItems.AddSimpleFor(x => x.CurrentPassword)
                                        .Editor(e => e.TextBox().Mode(TextBoxMode.Password));

                                    formItems.AddSimpleFor(x => x.Password)
                                        .Editor(e => e.TextBox().Mode(TextBoxMode.Password));
                                    formItems.AddSimpleFor(x => x.ConfirmPassword)
                                        .Editor(e => e.TextBox().Mode(TextBoxMode.Password));
                                })
                                .FormData(Model)
            )

            @(Html.DevExtreme().Button()
                                .Text("Change password")
                                //.ValidationGroup("login")
                                .UseSubmitBehavior(true)
            )
        }
    }
</div>

<script>
    $(function () {
        var forms = $('.ajaxForm form').has('input[type=submit]');

        forms.each(function () {
            var form = $(this);
            var submit = $(this).find('input[type=submit]');

            form.on('submit', function (e) {
                e.preventDefault();
                $.post(form.attr('action'), form.find('input,textarea,select').serialize())
                    .done(function (output) {
                        NCNotifySuccess(output);

                        form.find('input,textarea').val('');
                    })
                    .fail(function (xhr) { NCNotifyError(xhr.responseText)});
            })
        });
    })
</script>