@using NC_Monitoring.Business.Managers

@model LoginViewModel
@inject ApplicationSignInManager SignInManager

@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="All" class="text-danger"></div>


@using (Html.BeginForm("Login", "Account", FormMethod.Post))//new { id = "editEmployee" }
{
    using (Html.DevExtreme().ValidationGroup())
    {
        @(Html.DevExtreme().Form<LoginViewModel>()
                            //.ShowValidationSummary(true)
                            .FormData(Model)
                            .Items(formItems =>
                            {
                                formItems.AddSimpleFor(x=>x.Email)
                                    .IsRequired(true);

                                formItems.AddSimpleFor(x=>x.Password)
                                    .Editor(e => e.TextBox().Mode(TextBoxMode.Password))
                                    .IsRequired(true);

                                formItems.AddSimpleFor(x => x.RememberMe)
                                    .Editor(e=>e.CheckBox().Value(false));
                            })
        //.ValidationGroup("login")
        )
        @(Html.DevExtreme().Button()
                                .Text("Login")
                                //.ValidationGroup("login")
                                .UseSubmitBehavior(true)
        )
    }
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
