<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NC_Monitoring</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    @*<link rel="stylesheet" href="~/lib/glyphicons/styles/glyphicons.css" />*@
    <link rel="stylesheet" href="~/lib/fontawesome/css/solid.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/fontawesome.min.css" />

    @*<link href="~/vendor/devextreme/dist/css/dx.common.css" rel="stylesheet" />
        <link href="~/vendor/devextreme/dist/css/dx.light.css" rel="stylesheet" />*@
    <link href="~/lib/devextreme/css/dx.common.css" rel="stylesheet" />
    <link href="~/lib/devextreme/css/dx.light.css" rel="stylesheet" />

    @*<link href="~/css/devextreme/devextreme.custom.theme.css" rel="stylesheet" />*@

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    @*<script src="~/lib/devextreme/js/"></script>
        <script src="~/lib/cldrjs/src/event.js"></script>
        <script src="~/lib/cldrjs/src/supplemental.js"></script>
        <script src="~/lib/devextreme/js/devextreme/cldr/unresolved.js"></script>*@

    @*<script src="~/lib/devextreme/js/devextreme/globalize.js"></script>*@
    @*<script src="~/lib/globalize/src/message.js"></script>
        <script src="~/lib/globalize/src/number.js"></script>
        <script src="~/lib/globalize/src/currency.js"></script>
        <script src="~/lib/globalize/src/date.js"></script>*@

    @* JSZip for client side export *@
    @*<script src="~/js/devextreme/jszip.js"></script>*@

    @*<script src="~/vendor/devextreme/dist/js/dx.all.js"></script>
    <script src="~/vendor/devextreme/dist/js/vectormap-data/world.js"></script>
    <script src="~/vendor/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>
    <script src="~/vendor/devextreme/aspnet.js"></script>*@

    <script src="~/lib/devextreme/js/dx.all.js"></script>
    <script src="~/lib/devextreme/js/vectormap-data/world.js"></script>
    <script src="~/lib/devextreme-aspnet-data/js/dx.aspnet.data.js"></script>
    <script src="~/lib/devextreme/js/dx.aspnet.mvc.js"></script>

    <script src="~/js/nc/nc.dx.defaultOptions.js"></script>

    @*<script src="~/vendor/cldrjs/dist/cldr.js"></script>
        <script src="~/vendor/cldrjs/dist/cldr/event.js"></script>
        <script src="~/vendor/cldrjs/dist/cldr/supplemental.js"></script>
        <script src="~/vendor/cldrjs/dist/cldr/unresolved.js"></script>

        <script src="~/vendor/globalize/dist/globalize.js"></script>
        <script src="~/vendor/globalize/dist/globalize/number.js"></script>*@

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">NC Monitoring</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    @*<li><a is-active-route href="#">Home</a></li>*@
                    <li><a asp-controller="Monitors" asp-action="Index">Monitors</a></li>
                    <li><a asp-controller="Channels" asp-action="Index">Channels</a></li>
                    <li><a asp-controller="Scenarios" asp-action="Index">Scenarios</a></li>
                    @*<li><a is-active-route asp-controller="Home" asp-action="Contact">Contact</a></li>*@
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
    <partial name="_CookieConsentPartial" />
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/js/NC/nc.functions.js"></script>

	@RenderSection("Scripts", required: false)
</body>

</html>