<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <packageSources>
    <!-- Ditch all the Global NuGet package sources we only want a 
         single private NuGet repo for this project -->
    <clear />

    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

    <add key="devexpress" value="https://nuget.devexpress.com/yAvbxl4VimILVfsljH6f5VGglOjjD1SaBeAMipIr2hzRsGasQc/api" />

    <add key="ncnuget" value="https://pkgs.dev.azure.com/veselyncompany/_packaging/ncnuget/nuget/v3/index.json" />

  </packageSources>

  <disabledPackageSources>

  </disabledPackageSources>

</configuration>